/*!CK:2779406722!*//*1427087203,*/

.sp_A72SKbvVJiL{background-image:url(/rsrc.php/v2/yr/r/rimB3AwPjWv.png);background-size:26px 57px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_A72SKbvVJiL.sx_3865a3{width:9px;height:9px;background-position:0 -47px}.sp_A72SKbvVJiL.sx_b5c693{width:13px;height:12px;background-position:-13px 0}.selected .sp_A72SKbvVJiL.sx_b5c693{background-position:0 0}.sp_A72SKbvVJiL.sx_ce2af2{background-position:0 -13px}.sp_A72SKbvVJiL.sx_20434e{background-position:0 -30px}

#bootloader_li9V1 { height: 42px; }
.bootloader_li9V1 { display:block !important; }