/*!CK:375768121!*//*1427087533,*/

.sp_7RQCstWdutD{background-image:url(/rsrc.php/v2/yn/r/Cn0P_dgj352.png);background-size:17px 52px;background-repeat:no-repeat;display:inline-block;height:16px;width:8px}.sp_7RQCstWdutD.sx_08d1e5{width:15px;background-position:0 -17px}.sp_7RQCstWdutD.sx_307755{width:16px;background-position:0 0}.sp_7RQCstWdutD.sx_475b57{height:8px;background-position:0 -34px}.sp_7RQCstWdutD.sx_be0a64{height:8px;background-position:0 -43px}

#bootloader_qk0j5 { height: 42px; }
.bootloader_qk0j5 { display:block !important; }