/*!CK:3361523013!*//*1427686021,*/

.sp_LvgMC6YXQCp{background-image:url(/rsrc.php/v2/y0/r/g9_k2jDMi-T.png);background-size:17px 51px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_LvgMC6YXQCp.sx_9feea4{background-position:0 0}.sp_LvgMC6YXQCp.sx_750730{background-position:0 -17px}.sp_LvgMC6YXQCp.sx_45d130{background-position:0 -34px}

#bootloader_gVq5u { height: 42px; }
.bootloader_gVq5u { display:block !important; }