/*!CK:1385522199!*//*1428243635,*/

.sp_MfUIZ7rnP-p{background-image:url(/rsrc.php/v2/yt/r/FQAyj-_FghA.png);background-size:17px 34px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_MfUIZ7rnP-p.sx_a532dd{background-position:0 0}.sp_MfUIZ7rnP-p.sx_7e17ec{background-position:0 -17px}

#bootloader_qcCAv { height: 42px; }
.bootloader_qcCAv { display:block !important; }