/*!CK:513211259!*//*1428457420,*/

.sp_urjQ9SlUyKE{background-image:url(/rsrc.php/v2/yd/r/bEXt9yj7OwE.png);background-size:207px 211px;background-repeat:no-repeat;display:inline-block;height:206px;width:206px}.sp_urjQ9SlUyKE.sx_78a732{background-position:0 0}.sp_urjQ9SlUyKE.sx_148eb4{width:3px;height:3px;background-position:0 -207px}

#bootloader_vdlp1 { height: 42px; }
.bootloader_vdlp1 { display:block !important; }