/*!CK:3457020769!*//*1427686022,*/

.sp_pSE9Qe8jWxJ{background-image:url(/rsrc.php/v2/yf/r/nbSHca7cQSg.png);background-size:121px 118px;background-repeat:no-repeat;display:inline-block;height:69px;width:120px}.sp_pSE9Qe8jWxJ.sx_bcee91{background-position:0 0}.sp_pSE9Qe8jWxJ.sx_6986df{width:15px;height:12px;background-position:-17px -101px}.sp_pSE9Qe8jWxJ.sx_a0459b{width:16px;height:16px;background-position:0 -101px}.sp_pSE9Qe8jWxJ.sx_7592f3{width:22px;height:22px;background-position:-91px -70px}.sp_pSE9Qe8jWxJ.sx_20a72f{width:90px;height:30px;background-position:0 -70px}

#bootloader__eq_u { height: 42px; }
.bootloader__eq_u { display:block !important; }